<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="surveyLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>D:/Logs/Solarpower/solarPower.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	      		<fileNamePattern>D:/Logs/survey/survey.log.%i</fileNamePattern>
	      		<minIndex>1</minIndex>
	      		<maxIndex>20</maxIndex>
	    	</rollingPolicy>
	        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	      		<maxFileSize>1000000</maxFileSize>
	    	</triggeringPolicy>
	        <encoder>
				<Pattern>%level %d - %m%n</Pattern>
			</encoder>
	</appender>
	
	<logger name="org.hibernate" level="DEBUG">
		<appender-ref ref="surveyLog" />
	</logger>
	
	<logger name="com.survey.glance.core.web" level="DEBUG">>
		<appender-ref ref="surveyLog" />
	</logger>

	<logger name="org.springframework" level="DEBUG">
		<appender-ref ref="surveyLog" />
	</logger>
 
	<root level="DEBUG">
		<appender-ref ref="surveyLog" />
	</root>

</configuration>